/* 

Navigation Bars : 
    Having easy-to-use navigation is important for any web site.

    With CSS you can transform boring HTML menus into good-looking navigation bars.

    Navigation Bar = List of Links
    A navigation bar needs standard HTML as a base.

    In our examples we will build the navigation bar from a standard HTML list.

    A navigation bar is basically a list of links, so using the <ul> and <li> elements makes perfect sense:

    Example */
/*  This example is takn in html code snippet */

/* 
    Now let's remove the bullets and the margins and padding from the list:

    Example */
.New ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*     
    Example explained:

    list-style-type: none; - Removes the bullets. A navigation bar does not need list markers
    Set margin: 0; and padding: 0; to remove browser default settings  */


1. Vertical Navigation Bar : 